<div class="grid wfull">
    <div class="row">

        <div class="c2"><img ng-src="{{ selectedBook.cover_image_url }}" /></div>
        <div class="c2">
            <p class="issueinfo"><strong>{{ selectedBook.name }}</strong></p>

            <p class="issueinfo">{{ issues.length }} issues</p>

            <p class="issueinfo">{{ totalPrice(issues) | currency}} Total</p>
        </div>
        <div class="c8">
            <div class="row">
                <div class="c1 spacer">Name</div>
                <div class="c6 spacer"><input type=text ng-model="newIssue.title" ></div>
                <div class="c1 spacer">Issue</div>
                <div class="c2 spacer"><input type=text ng-model="newIssue.number" ></div>

            </div>
            <div class="row">
                <div class="c1 spacer">Price</div>
                <div class="c2 spacer"><input type=text ng-model="newIssue.price"></div>
                <div class="c1 spacer">Image</div>
                <div class="c6 spacer"><input type=text ng-model="newIssue.cover_image_url"></div>
            </div>
            <div class="row">
                <div class="c11 s1">
                    <button class="primary" ng-click="saveIssue()">Add New Issue</button>
                    <button class="btn" ng-click="newIssue = {}">Clear</button>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="c7">
            <div class="row spacer">
                <div class="c1">
                    Sort
                </div>
                <div class="c2">
                    <select ng-model="issueOrder" length='70%'>
                        <option>number</option>
                        <option>title</option>
                        <option>price</option>
                    </select>
                </div>
                <div class="c2">
                    Descending
                </div>
                <div class="c1">
                    <input type=checkbox ng-model="reversed" >
                </div>
                <div class="c1">Filter</div>
                <div class="c4">
                    <input ng-model="issueSearch">
                </div>
            </div>
            <table width=100%>
                <tr ng-repeat="issue in issues | orderBy:issueOrder:reversed | filter: issueSearch">
                    <td ng-mouseenter="setLargeImage(issue.cover_image_url)">
                        <img ng-src="{{ issue.cover_image_url}}" width="50">
                    </td>
                    <td>{{ issue.number }}</td>
                    <td>{{ issue.title }}</td>
                    <td>{{ issue.price | currency}}</td>
                </tr>
            </table>
        </div>
        <div class="c5 end">
            <img ng-src="{{ largeImage }}" >
        </div>
    </div>
</div>

