<!DOCTYPE html>
<html ng-app="Comics">
<head>
  <meta charset="utf-8"/>

  <!-- Uncomment to make IE8 render like IE7 -->
  <!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <title>Comic Collector</title>

  <%= stylesheet_link_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body ng-controller="BooksCtrl">
    <div class="row page-header">
      <div class="c8">
        <h2><a href="/">Comic Collector</a></h2>
      </div>
    </div>

    <div ng-view></div>

    <%= javascript_include_tag "application" %>
</body>
</html>
